name: Update Gist
on:
  push:
    branches:
      - main

jobs:
  update-gist:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Update Gist
        env:
          GIST_ID: <Gistã®ID>
          GH_TOKEN: ${{ secrets.GIST_TOKEN }}
        run: |
          gh gist edit $GIST_ID -f dist/main.js -a "$(cat dist/main.js)"
